.header{
    width: 100%;
    height: 470px;
    padding:10px;    
    background-image: url('./img/cover-image.png');
    background-size: cover;
    background-position: cover;
}

.navbar {
    width: 100%;
    padding: 10px 16px 10px 16px;
    font-size: 14px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-45%);    
    color: #fff;
}

.hoverColorChange {
    transition: all 0.3s ease;
  }
  
  .hoverColorChange:hover {
    color: #779CAB; 
  }


.explore {
    position: absolute;
    top: 450px;
    width: 407.53px;
    height: 60px;
    border-radius: 15px;
    padding: 20px 200px 20px 20px;
    background-color: #C6D5D6;
    gap: 15px;
}

.explore-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.title-font-size{
    font-size: 14px;
}
.title-font-color{
    color:#F5F8F8;
}

.title-font-color:hover {
    color: #558285;
}

.loginClass{
    background: #FFFFFF;
    color: #558285;
    border-radius: 15px;
    width: 70px;
    height: 37px;
    align-items: center;
}

.loginClass:hover {
    background: #779CAB;
    color: #fff;    
}

.signupClass{    
    background: #558285;
    border-radius: 15px;
    width: 82px;
    height: 37px;
    text-wrap: nowrap;
    align-items: center;
}

.signupClass:hover {
    background: #fff;
    color: #779CAB;
}
